/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

/* =========================
   Design Tokens
   ========================= */
:root {
  --bg-color: #222222;
  --neon-green: #39ff14;
  --dim-green: #008f11;
  --screen-curve: 20px;
}

/* =========================
   Base styles
   ========================= */
html,
body {
  background-color: var(--bg-color);
  /* color: var(--neon-green); */
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  line-height: 1.5;
}


/* =========================
   Global helpers (opcional)
   ========================= */
.screen {
  border-radius: var(--screen-curve);
}
